In [7]:
import pandas as pd

data = {'category':['Sales','Operating Income','Net Income','Less: Net Income (Loss) Attributable to Noncontrolling Interests','Net Income Attributable to Tyson','Net Income Per Share Attributable to Tyson','Adjusted Operating Income','Adjusted Net Income Per Share Attributable to Tyson'],
        'Fourth Quarter-2022':[13737,766,537,-1,538,1.50,823,1.63],
        'Fourth Quarter-2021':[12811,1909,1358,3,1355,3.71,1152,2.30],
        'Twelve Months Ended-2022':[53282,4410,3249,13,3238,8.92,4414,8.73],
        'Twelve Months Ended-2021':[47049,4396,3060,11,3047,8.34,4288,8.28]}

df = pd.DataFrame(data)
print(df)

                                            category  Fourth Quarter-2022  \
0                                              Sales             13737.00
1                                   Operating Income               766.00
2                                         Net Income               537.00
3  Less: Net Income (Loss) Attributable to Noncon...                -1.00
4                   Net Income Attributable to Tyson               538.00
5         Net Income Per Share Attributable to Tyson                 1.50
6                          Adjusted Operating Income               823.00
7  Adjusted Net Income Per Share Attributable to ...                 1.63

   Fourth Quarter-2021  Twelve Months Ended-2022  Twelve Months Ended-2021
0             12811.00                  53282.00                  47049.00
1              1909.00                   4410.00                   4396.00
2              1358.00                   3249.00                   3060.00
3                 3.00                     13.00                     11.00
4              1355.00                   3238.00                   3047.00
5                 3.71                      8.92                      8.34
6              1152.00                   4414.00                   4288.00
7                 2.30                      8.73                      8.28

In [8]:

df['YoY % Change-Q4'] = (df['Fourth Quarter-2022'] - df['Fourth Quarter-2021'])/df['Fourth Quarter-2021'] * 100
df['YoY % Change-12 Months'] = (df['Twelve Months Ended-2022'] - df['Twelve Months Ended-2021'])/df['Twelve Months Ended-2021'] * 100

df

,category,Fourth Quarter-2022,Fourth Quarter-2021,Twelve Months Ended-2022,Twelve Months Ended-2021,YoY % Change-Q4,YoY % Change-12 Months
0,Sales,13737.00,12811.00,53282.00,47049.00,7.228163,13.247890
1,Operating Income,766.00,1909.00,4410.00,4396.00,-59.874280,0.318471
2,Net Income,537.00,1358.00,3249.00,3060.00,-60.456554,6.176471
3,Less: Net Income (Loss) Attributable to Noncon...,-1.00,3.00,13.00,11.00,-133.333333,18.181818
4,Net Income Attributable to Tyson,538.00,1355.00,3238.00,3047.00,-60.295203,6.268461
5,Net Income Per Share Attributable to Tyson,1.50,3.71,8.92,8.34,-59.568733,6.954436
6,Adjusted Operating Income,823.00,1152.00,4414.00,4288.00,-28.559028,2.938433
7,Adjusted Net Income Per Share Attributable to ...,1.63,2.30,8.73,8.28,-29.130435,5.434783

In [10]:

data = {'category': ['Sales', 'Operating Income', 'Net Income', 'Less: Net Income (Loss) Attributable to Noncontrolling Interests', 'Net Income Attributable to Tyson', 'Net Income Per Share Attributable to Tyson', 'Adjusted Operating Income', 'Adjusted Net Income Per Share Attributable to Tyson'],
        'Fourth Quarter 2022': [13737, 766, 537, 1, 538, 1.50, 823, 1.63],
        'Fourth Quarter 2021': [12811, 1909, 1358, 3, 1355, 3.71, 1152, 2.30],
        'Twelve Months Ended 2022': [53282, 4410, 3249, 13, 3238, 8.92, 4414, 8.73],
        'Twelve Months Ended 2021': [47049, 4396, 3060, 11, 3047, 8.34, 4288, 8.28]
        }

df = pd.DataFrame(data)

df

,category,Fourth Quarter 2022,Fourth Quarter 2021,Twelve Months Ended 2022,Twelve Months Ended 2021
0,Sales,13737.00,12811.00,53282.00,47049.00
1,Operating Income,766.00,1909.00,4410.00,4396.00
2,Net Income,537.00,1358.00,3249.00,3060.00
3,Less: Net Income (Loss) Attributable to Noncon...,1.00,3.00,13.00,11.00
4,Net Income Attributable to Tyson,538.00,1355.00,3238.00,3047.00
5,Net Income Per Share Attributable to Tyson,1.50,3.71,8.92,8.34
6,Adjusted Operating Income,823.00,1152.00,4414.00,4288.00
7,Adjusted Net Income Per Share Attributable to ...,1.63,2.30,8.73,8.28